body {
    background-image: url("../images/background.jpg");
    background-repeat:no-repeat;
}

.busy-spinner {
    background-image: url("../images/spinner-example-sprite.png");
}

/*.header {
   
}*/

#face{
background-image: url("../images/logo.png");
    background-repeat:no-repeat;

}
p,strong{
    color:black;
    font-size: 15px

}


#upload-form {
    margin-top: 55px;
    width: 500px;
    margin-left: 50%;
    left: -250px;
    position: absolute;
    font-size: 18px
}

#upload-form input[type=file] {
    background: transparent;
    border: none;
}

.upload-btn {

    border: 2px solid gray;
    border-radius: 10px;
    opacity: 0.9;
    color: white;
    font-size: 15px;
    font-weight: bold;

}

.upload-btn:hover {
    background-color: #0A1B2A;
    color: white;
}