@-webkit-keyframes loaderSprite {
from { background-position: 0px; }
to { background-position: -2500px; }
}

@-moz-keyframes loaderSprite {
from { background-position: 0px; }
to { background-position: -2500px; }
}

@keyframes loaderSprite {
from { background-position: 0px; }
to { background-position: -2500px; }
}

.busy-spinner {
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: pink;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	-webkit-animation: loaderSprite 1s steps(25, end) infinite ;
	-moz-animation: loaderSprite 1s steps(25, end) infinite;
	animation: loaderSprite 1s steps(25, end) infinite;
}
